body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #eeeded;
    text-align: right;
}


header {
    background: #333;
    color: white;
    padding: 19px;
    text-align: center;
}

header ul {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
    text-align: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: left;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    text-align: left;
}

section li {
    text-align: left;
}

footer {
    text-align: center;
    padding:  20px;
    background: #333;
    color: white;
    text-align: left;
}
